In [1]:
import pandas as pd

In [25]:
data = pd.read_json('./election.json')['data']
df = pd.DataFrame(data.tolist())

# Name the columns
df.columns = ["departement", "commune", "lieu_de_vote", "numero_bureau", "nombre_inscrits"]

In [26]:
df.describe()

,departement,commune,lieu_de_vote,numero_bureau,nombre_inscrits
count,15633,15633,15633,15633,15633
unique,46,553,6341,95,580
top,DAKAR,TOUBA MOSQUEE,UNIVERSITE TOUBA DAROU KHOUDOSS,1,600
freq,1275,610,95,6681,323

In [27]:
# Convert nombre_inscrits to numeric
df['nombre_inscrits'] = pd.to_numeric(df['nombre_inscrits'], errors='coerce')

In [28]:
regions = {
  "DAKAR": ["DAKAR", "GUEDIAWAYE", "KEUR MASSAR", "PIKINE", "RUFISQUE"],
  "DIOURBEL": ["BAMBEY", "DIOURBEL", "MBACKE"],
  "FATICK": ["FATICK", "FOUNDIOUGNE", "GOSSAS"],
  "KAFFRINE": ["BIRKILANE", "KAFFRINE", "KOUNGHEUL", "MALEM HODAR"],
  "KAOLACK": ["GUINGUINEO", "KAOLACK", "NIORO DU RIP"],
  "KEDOUGOU": ["KEDOUGOU", "SALEMATA", "SARAYA"],
  "KOLDA": ["KOLDA", "MEDINA YORO FOULAH", "VELINGARA"],
  "LOUGA": ["KEBEMER", "LINGUERE", "LOUGA"],
  "MATAM": ["KANEL", "MATAM", "RANEROU FERLO"],
  "SAINT LOUIS": ["DAGANA", "PODOR", "SAINT LOUIS"],
  "SEDHIOU": ["BOUNKILING", "GOUDOMP", "SEDHIOU"],
  "TAMBACOUNDA": ["BAKEL", "GOUDIRY", "KOUMPENTOUM", "TAMBACOUNDA"],
  "THIES": ["MBOUR", "THIES", "TIVAOUANE"],
  "ZIGUINCHOR": ["BIGNONA", "OUSSOUYE", "ZIGUINCHOR"]
}

In [29]:
# Aggregating by departement
departement_agg = df.groupby('departement')['nombre_inscrits'].sum().reset_index()
departement_agg["region"] = departement_agg["departement"].apply(lambda x: [k for k, v in regions.items() if x in v][0])
region_agg = departement_agg.groupby('region')['nombre_inscrits'].sum().reset_index()

In [30]:

region_agg.rename(columns={"region": "locality_name"}, inplace=True)
region_agg['locality_type'] = 'region'
region_agg["locality_parent_name"] = "Senegal"
region_agg["locality_parent_type"] = "country"

# reorder columns
region_agg = region_agg[["locality_name", "locality_type", "locality_parent_name", "locality_parent_type", "nombre_inscrits"]]
print(region_agg)

   locality_name locality_type locality_parent_name locality_parent_type  \
0          DAKAR        region              Senegal              country
1       DIOURBEL        region              Senegal              country
2         FATICK        region              Senegal              country
3       KAFFRINE        region              Senegal              country
4        KAOLACK        region              Senegal              country
5       KEDOUGOU        region              Senegal              country
6          KOLDA        region              Senegal              country
7          LOUGA        region              Senegal              country
8          MATAM        region              Senegal              country
9    SAINT LOUIS        region              Senegal              country
10       SEDHIOU        region              Senegal              country
11   TAMBACOUNDA        region              Senegal              country
12         THIES        region              Senegal              country
13    ZIGUINCHOR        region              Senegal              country

    nombre_inscrits
0           1829823
1            635793
2            348525
3            268124
4            464438
5             72413
6            265611
7            460639
8            315863
9            563642
10           210264
11           287149
12          1003310
13           308260

In [31]:
departement_agg.rename(columns={"departement": "locality_name", "region":"locality_parent_name"}, inplace=True)
departement_agg['locality_type'] = 'departement'
departement_agg["locality_parent_type"] = "region"

# reorder columns
departement_agg = departement_agg[["locality_name", "locality_type", "locality_parent_name", "locality_parent_type", "nombre_inscrits"]]
print(departement_agg)

         locality_name locality_type locality_parent_name  \
0                BAKEL   departement          TAMBACOUNDA
1               BAMBEY   departement             DIOURBEL
2              BIGNONA   departement           ZIGUINCHOR
3            BIRKILANE   departement             KAFFRINE
4           BOUNKILING   departement              SEDHIOU
5               DAGANA   departement          SAINT LOUIS
6                DAKAR   departement                DAKAR
7             DIOURBEL   departement             DIOURBEL
8               FATICK   departement               FATICK
9          FOUNDIOUGNE   departement               FATICK
10              GOSSAS   departement               FATICK
11             GOUDIRY   departement          TAMBACOUNDA
12             GOUDOMP   departement              SEDHIOU
13          GUEDIAWAYE   departement                DAKAR
14          GUINGUINEO   departement              KAOLACK
15            KAFFRINE   departement             KAFFRINE
16               KANEL   departement                MATAM
17             KAOLACK   departement              KAOLACK
18             KEBEMER   departement                LOUGA
19            KEDOUGOU   departement             KEDOUGOU
20         KEUR MASSAR   departement                DAKAR
21               KOLDA   departement                KOLDA
22         KOUMPENTOUM   departement          TAMBACOUNDA
23           KOUNGHEUL   departement             KAFFRINE
24            LINGUERE   departement                LOUGA
25               LOUGA   departement                LOUGA
26         MALEM HODAR   departement             KAFFRINE
27               MATAM   departement                MATAM
28              MBACKE   departement             DIOURBEL
29               MBOUR   departement                THIES
30  MEDINA YORO FOULAH   departement                KOLDA
31        NIORO DU RIP   departement              KAOLACK
32            OUSSOUYE   departement           ZIGUINCHOR
33              PIKINE   departement                DAKAR
34               PODOR   departement          SAINT LOUIS
35       RANEROU FERLO   departement                MATAM
36            RUFISQUE   departement                DAKAR
37         SAINT LOUIS   departement          SAINT LOUIS
38            SALEMATA   departement             KEDOUGOU
39              SARAYA   departement             KEDOUGOU
40             SEDHIOU   departement              SEDHIOU
41         TAMBACOUNDA   departement          TAMBACOUNDA
42               THIES   departement                THIES
43           TIVAOUANE   departement                THIES
44           VELINGARA   departement                KOLDA
45          ZIGUINCHOR   departement           ZIGUINCHOR

   locality_parent_type  nombre_inscrits
0                region            66767
1                region           128264
2                region           140315
3                region            51085
4                region            64210
5                region           150197
6                region           707818
7                region           124483
8                region           171291
9                region           130217
10               region            47017
11               region            48425
12               region            73097
13               region           203274
14               region            58558
15               region            98791
16               region           117723
17               region           253830
18               region           133832
19               region            41434
20               region           249588
21               region           106611
22               region            52967
23               region            77835
24               region           133089
25               region           193718
26               region            40413
27               region           170744
28               region           383046
29               region           351023
30               region            46254
31               region           152050
32               region            33287
33               region           391278
34               region           237079
35               region            27396
36               region           277865
37               region           176366
38               region            11481
39               region            19498
40               region            72957
41               region           118990
42               region           395942
43               region           256345
44               region           112746
45               region           134658

In [32]:
# Aggregating by commune
commune_agg = df.groupby(['departement', 'commune'])['nombre_inscrits'].sum().reset_index()
commune_agg.rename(columns={'departement': 'locality_parent_name', 'commune': 'locality_name'}, inplace=True)
commune_agg["locality_type"] = "commune"    
commune_agg["locality_parent_type"] = "departement"

# reorder columns
commune_agg = commune_agg[['locality_name', 'locality_type', 'locality_parent_name', 'locality_parent_type', 'nombre_inscrits']]

print(commune_agg)

            locality_name locality_type locality_parent_name  \
0                   BAKEL       commune                BAKEL
1                  BALLOU       commune                BAKEL
2                    BELE       commune                BAKEL
3                 DIAWARA       commune                BAKEL
4                   GABOU       commune                BAKEL
..                    ...           ...                  ...
548  BOUTOUPA CAMARACOUND       commune           ZIGUINCHOR
549               ENAMPOR       commune           ZIGUINCHOR
550               NIAGUIS       commune           ZIGUINCHOR
551               NIASSIA       commune           ZIGUINCHOR
552            ZIGUINCHOR       commune           ZIGUINCHOR

    locality_parent_type  nombre_inscrits
0            departement             9624
1            departement             9846
2            departement             7641
3            departement             4802
4            departement             8798
..                   ...              ...
548          departement             4154
549          departement             3583
550          departement             8908
551          departement             5504
552          departement           103844

[553 rows x 5 columns]

In [33]:
# Aggregating by lieu_de_vote
lieu_de_vote_agg = df.groupby(['commune', 'lieu_de_vote'])['nombre_inscrits'].sum().reset_index()
lieu_de_vote_agg.rename(columns={'commune': 'locality_parent_name', 'lieu_de_vote': 'locality_name'}, inplace=True)
lieu_de_vote_agg["locality_type"] = "lieu_de_vote"
lieu_de_vote_agg["locality_parent_type"] = "commune"

# reorder columns
lieu_de_vote_agg = lieu_de_vote_agg[['locality_name', 'locality_type', 'locality_parent_name', 'locality_parent_type', 'nombre_inscrits']]

print(lieu_de_vote_agg)

                          locality_name locality_type locality_parent_name  \
0                              BAGHAGHA  lieu_de_vote               ADEANE
1                               DIAGNON  lieu_de_vote               ADEANE
2            ECOLE ELEMENTAIRE D ADEANE  lieu_de_vote               ADEANE
3     ECOLE ELEMENTAIRE DE AGNACK PETIT  lieu_de_vote               ADEANE
4           ECOLE ELEMENTAIRE DE GONOUM  lieu_de_vote               ADEANE
...                                 ...           ...                  ...
6676                  ECOLE MATAR DIEME  lieu_de_vote           ZIGUINCHOR
6677   ECOLE MISSION CATHOLIQUE DE NEMA  lieu_de_vote           ZIGUINCHOR
6678                 ECOLE MOUNORY MANE  lieu_de_vote           ZIGUINCHOR
6679                  ECOLE SEYDOU KANE  lieu_de_vote           ZIGUINCHOR
6680                     EFI ZIGUINCHOR  lieu_de_vote           ZIGUINCHOR

     locality_parent_type  nombre_inscrits
0                 commune             1537
1                 commune              742
2                 commune             2872
3                 commune             1400
4                 commune              289
...                   ...              ...
6676              commune             6195
6677              commune             2066
6678              commune             1575
6679              commune              934
6680              commune             2782

[6681 rows x 5 columns]

In [34]:
total_inscrits = df['nombre_inscrits'].sum()

print("Total nombre_inscrits:", total_inscrits)

Total nombre_inscrits: 7033854

In [35]:
dfs = [region_agg, departement_agg, commune_agg, lieu_de_vote_agg]

In [36]:
merged_df = pd.concat(dfs, ignore_index=True)
merged_df.to_csv('election_agg.csv', index=False)